version: '3.8'

volumes:
  pg_data:
  static:
  media:
  static_volume:

services:
  db:
    image: postgres:15
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    container_name: db
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    
  backend:
    build: ./backend
    env_file: .env
    volumes:
      - static:/static
      - media:/app/media
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             gunicorn --bind 0.0.0.0:8000 foodgram.wsgi:application"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  
  frontend:
    image: alexyssm/foodgram_frontend:latest
    env_file: .env
    depends_on:
      - backend
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static_volume:/frontend_static

  gateway:
    image: nginx:latest
    env_file: .env
    depends_on:
      - backend
      - frontend 
    volumes:
      - static_volume:/staticfiles/
      - static:/app/static/
      - media:/media
      - ./gateway/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - 80:80