# docker-compose.production.yml

volumes:
  pg_data:
  static:
  media:
  static_volume:

services:
  db:
    image: postgres:15
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    container_name: db
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    
  backend:
    image: alexyssm/foodgram_backend:latest
    env_file: .env
    volumes:
      - static:/static
      - media:/media
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             gunicorn --bind 0.0.0.0:8000 foodgram.wsgi:application"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    #   - media:/app/medi
    #   - DEBUG=False
    #   - POSTGRES_DB=django
    #   - POSTGRES_PASSWORD=mysecretpassword
    #   - POSTGRES_USER=django_user
    #   - SECRET_KEY=SECRET_KEY
    #   - ALLOWED_HOSTS=kittygramsm.hopto.org,localhost,127.0.0.1,backend
  
  frontend:
    image: alexyssm/foodgram_frontend:latest
    env_file: .env
    depends_on:
      - backend
    command: cp -r /app/build/. /frontend_static/
    volumes:
      - static_volume:/frontend_static

  gateway:
    # image: alexyssm/foodgram_gateway:latest
    image: nginx:latest
    env_file: .env
    depends_on:
      - backend
      - frontend 
    volumes:
      # - static_volume:/usr/share/nginx/html/static/  
      # - static:/usr/share/nginx/html/backend_static/ 
      # - media:/media                                 
      # - ./gateway/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/usr/share/nginx/html/
      # - static_volume:/staticfiles/
      - static:/app/static/
      - media:/media
      # - ./gateway/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      # # - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      # - ./nginx-templates:/etc/nginx/templates:ro
    ports:
      - 8000:80
    environment:
    - NGINX_PORT=80




  # nginx:
  #   image: ./nginx
  #   # env_file: .env
  #   depends_on:
  #     - backend
  #     - frontend
  #   ports:
  #     - '80:80'
  #   volumes:
  #     # - ./nginx.conf:/etc/nginx/conf.d/default.conf
  #     # - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
  #     - static_volume:/usr/share/nginx/html/static/
  #     - static:/usr/share/nginx/html/backend_static/
  #     - media:/media
  #     - ../docs/:/usr/share/nginx/html/api/docs/

  #     # - ./nginx.conf:/etc/nginx/conf.d/default.conf
  #     # - ../frontend/build:/usr/share/nginx/html/
  #     # - ../docs/:/usr/share/nginx/html/api/docs/
  #     # - static:/static
  #     # - media:/app/media
    
    # gateway:
  #   image: alexyssm/kittygram_gateway:latest
  #   env_file: .env
  #   depends_on:
  #     - frontend 
  #   volumes:
  #     - static_volume:/staticfiles/
  #     - media:/app/media
  #     # -   backend:
  #   image: devlil/foodgram_backend:latest
  #   env_file: ./.env
  #   depends_on:
  #     - db
  #   volumes:
  #     - static:/static
  #     - media:/app/media./nginx.conf:/etc/nginx/conf.d/default.conf:ro
  #     - ./nginx-templates:/etc/nginx/templates:ro
  #   ports:
  #     - 9000:80